<a href="https://colab.research.google.com/github/DRodriguez615/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [12]:
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [26]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [29]:
# 182 great burrito reviews out of 421 total burrito reviews
print('Total Burrito Reviews: ', df['Great'].value_counts().sum())
df['Great'].value_counts()

Total Burrito Reviews:  421

False    239
True     182
Name: Great, dtype: int64

In [50]:
# looks like dates go from 2011-2026?
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].describe()

count                     421
unique                    169
top       2016-08-30 00:00:00
freq                       29
first     2011-05-16 00:00:00
last      2026-04-25 00:00:00
Name: Date, dtype: object

In [61]:
# select cutoff and split train/val/test
# train
cutoff = ('2016-12-31')
# validate
cutoff1 = ('2018-01-01')
# test

train = df[df['Date'] <= cutoff]
val = df[(df['Date'] > cutoff) & (df['Date'] < cutoff1)]
test = df[df['Date'] >= cutoff1]
print(train.shape, val.shape, test.shape)

(298, 59) (85, 59) (38, 59)

In [62]:
# double checking the year
# 2016 & earlier
train['Date'].describe()

count                     298
unique                    110
top       2016-08-30 00:00:00
freq                       29
first     2011-05-16 00:00:00
last      2016-12-15 00:00:00
Name: Date, dtype: object

In [64]:
# double checking the year
# 2017
val['Date'].describe()

count                      85
unique                     42
top       2017-04-07 00:00:00
freq                        6
first     2017-01-04 00:00:00
last      2017-12-29 00:00:00
Name: Date, dtype: object

In [63]:
# double checking the year
# 2018 & later
test['Date'].describe()

count                      38
unique                     17
top       2019-08-27 00:00:00
freq                        9
first     2018-01-02 00:00:00
last      2026-04-25 00:00:00
Name: Date, dtype: object

In [71]:
# drop target from our X sets
X_train = train.drop(columns=['Great'])
X_val = val.drop(columns=['Great'])
X_test = test.drop(columns=['Great'])

# check shape to make sure column dropped 
print(X_train.shape, X_val.shape, X_test.shape)

(298, 58) (85, 58) (38, 58)

In [0]:
# set target to y sets
target = 'Great'
y_train = train[target]
y_val = val[target]
y_test = test[target]

In [78]:
# determine the majority class[0]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [79]:
# determine majority class[0]
y_val.value_counts(normalize=True)

False    0.552941
True     0.447059
Name: Great, dtype: float64

In [81]:
# majority class 
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)
pd.unique(y_pred), len(y_pred)

(array([False]), 298)

In [82]:
# baseline train accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.5906040268456376

In [83]:
# baseline val accuracy score
y_pred = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred)

0.5529411764705883

In [84]:
train.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  71.000000  71.000000  292.000000  ...  296.000000  296.000000    0.0
mean    3.897183   4.142254    6.896781  ...    3.540203    3.955068    NaN
std     0.478680   0.371738    1.211412  ...    0.922426    1.167341    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.850000  ...    3.750000    4.000000    NaN
75%     4.000000   4.400000    7.500000  ...    4.000000    5.000000    NaN
max     4.500000   4.900000   11.950000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [88]:
# LinearRegression time

# import estimator class
from sklearn.linear_model import LinearRegression

# instantiate the class
linear_reg = LinearRegression()

# arranging X and y feature matrices
features = ['Temp', 'Hunger', 'Meat:filling']
X_train = train[features]
X_val = val[features]
y_train = train['Great']
y_val = val['Great']

# impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# fit the model
linear_reg.fit(X_train_imputed, y_train)

# apply to new data
# 
linear_reg.predict(X_val_imputed)

array([ 0.48741506,  0.22941137,  0.55099262,  0.56271997,  0.39172276,
        0.12802612,  0.71370966,  0.43489681,  0.41861211,  0.64165573,
        0.45654839,  0.68785968,  0.19452912,  0.32521976,  0.86539227,
        0.27597341,  0.27970873,  0.33863697,  0.45689485,  0.81230648,
        0.608231  ,  0.52929524,  0.13490795,  0.33455362,  0.38518738,
        0.41138382,  0.66131679,  0.46412315,  0.45724131,  0.57529476,
        0.66819862,  0.43758025,  0.57602057,  0.56271997,  0.07580817,
        0.33028599,  0.83388725,  0.56237351,  0.63690149,  0.48309129,
        0.32393646,  0.45724131,  0.86539227,  0.86539227,  0.30864691,
        0.33898343,  0.48162214,  0.6347739 ,  0.608231  ,  0.23350478,
        0.2669295 ,  0.39172276,  0.63034408,  0.63034408,  0.37457023,
        0.25281937,  0.07494033,  0.47620945,  0.56271997,  0.23350478,
        0.15456901,  0.23350478,  0.26658305,  0.43315044,  0.4076485 ,
        0.46412315,  0.71405612,  0.86539227,  0.4837842 ,  0.81230648,
        0.60491143,  0.66819862,  0.47100498,  0.71370966, -0.03574279,
        0.38484092,  0.29833041,  0.53617707,  0.33898343,  0.5756158 ,
        0.5889164 ,  0.68751322,  0.12802612,  0.26004767,  0.72128441])

In [89]:
# get the coefficients
pd.Series(linear_reg.coef_, features)

Temp            0.105479
Hunger          0.053086
Meat:filling    0.197194
dtype: float64

In [90]:
test_case = [[6, 4.5, 5]]
linear_reg.predict(test_case)

array([0.99741382])

In [0]:
from sklearn.linear_model import LogisticRegression

log_reg